# Non Graded Challenge 5

Nama  : Karmenia Ditabaya Lontoh

Batch : HCK-21

```sql
-- Membuat table Customers
CREATE TABLE Customers(
	customer_id SERIAL PRIMARY KEY,
	customer_name VARCHAR (255),
	city VARCHAR (255)
);

-- Membuat table Orders
CREATE TABLE Orders(
	order_id SERIAL PRIMARY KEY,
	customer_id INTEGER,
	order_date DATE,
	total_amount FLOAT
);

-- Insert data customer ke table Customers
INSERT INTO Customers (customer_name, city) 
VALUES
	('John Doe', 'New York'),
	('Jane Smith', 'Los Angeles'),
	('David Johnson', 'Chicago');

-- Insert data order ke table Orders
INSERT INTO Orders (customer_id, order_date, total_amount) 
VALUES
	(1, '2022-01-10', 100),
	(1, '2022-02-15', 150),
	(2, '2022-03-20', 200),
	(3, '2022-04-25', 50);

-- Query untuk menarik data total order untuk setiap customer
-- Menggunakan COUNT untuk hitung berapa order_id
-- Menggunakan LEFT JOIN untuk join table customer dengan order dimana customer_id dari masing2 tabel adalah sama
-- Menggunakan GROUP BY customer_name dan customer_id 
-- Menggunakan ORDER BY untuk sorting output berdasarkan customer_id
SELECT 
	c.customer_name, 
	COUNT(order_id) AS total_orders
FROM Customers c 
	LEFT JOIN Orders o ON c.customer_id = o.customer_id
GROUP BY customer_name, c.customer_id
ORDER BY c.customer_id
```

In [1]:
# Import library/module
import pandas as pd
# Baca file csv dalam variabel dataframe 'ngc5'
ngc5 = pd.read_csv('output.csv')
# Tunjukin dataframe
ngc5

   customer_name  total_orders
0       John Doe             2
1     Jane Smith             1
2  David Johnson             1